/* Button styles */
button {
  color: var(--on-primary);
  background-color: var(--primary);
  height: 40px;
  padding: 0px 24px;
  border-radius: 20px;
  border: none;
  margin: 5px 3px;

  &.full {
    width: 100%;
  }
}

button:first-child {
  margin-left: 0px;
}

button:last-child {
  margin-right: 0px;
}

button:hover {
  box-shadow: var(--shadow-elevation-medium);
}

button.elevated {
  box-shadow: var(--shadow-elevation-medium);
}

button.elevated:hover {
  box-shadow: var(--shadow-elevation-high);
}

button.icon {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  padding: 0px;
}

button.outline {
  border: 1px solid;
  border-color: var(--outline);
  color: var(--primary);
  background-color: transparent;
}

button.icon.outline {
  border: 1px solid;
  border-color: var(--outline);
  color: var(--outline);
  background-color: transparent;
}

button.icon.standard {
  background-color: transparent;
  color: var(--on-surface-variant);
}

a {
  color: var(--primary);
  background-color: transparent;
}

a.flat {
  color: var(--primary);
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

button.text {
  background-color: transparent;
  color: var(--primary);
}

button.text:hover {
  background-color: color-mix(in srgb, var(--primary) 20%, transparent);;
  box-shadow: none;
}

div.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.right {
    justify-content: right;
  }
}
