/* Cards styles */

article,
div.card {
    background-color: var(--surface-container-highest);
    color: var(--on-surface-variant);
    border-radius: 12px;
    padding: 20px 16px;
    display: inline-block;
    width: calc(100% - 36px);
    margin: 4px;
    vertical-align: bottom;

    &.narrow {
        width: auto;
    }

    &.small {
        width: calc(50% - 42px);
    }

    &.full {
        width: calc(100% - 42px);
    }

    h2 {
        margin: 0px;
        font-weight: 420;
    }

    span {
        font-weight: 320;
    }

    p {
        margin: 0px;
        margin-top: 8px;
        color: var(--on-surface-variant);
    }

    &.elevated {
        box-shadow: var(--shadow-elevation-low);
        background-color: var(--surface-container-low);
    }

    &.outline {
        background-color: var(--surface);
        border: 1px solid var(--outline)
    }

    div.media {
        margin: -20px -16px 20px -16px;

        img {
            width: 100%;
            border-radius: 12px;
        }
    }

    div.actions {
        min-height: 50px;
        display: inline-flex;
        align-items: center;
        margin-top: 16px;
        flex-wrap: wrap;
        width: 100%;

        &.right {
            justify-content: right;
        }
    }

    @media screen and (min-width: 600px) {
        width: calc(50% - 50px);

        &.small {
            width: calc(25% - 43px);
        }
    }

    @media screen and (min-width: 1200px) {
        width: calc(25% - 50px);

        &.small {
            width: calc(20% - 44px);
        }

        &.half {
            width: calc(50% - 44px);
        }
    }
}
