/* Columns system */

.columns {
    display: flex;
    flex-direction: row;

    .column {
        flex: 1;
        padding: 5px 10px;
        flex-basis: 200px;

        &.full {
            min-width: 90%;
        }

        &.half {
            min-width: 45%;
        }
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.inverted {
        flex-flow: wrap-reverse;
    }
}
