.dropdown-container {
  position: relative;

  .dropdown-trigger {
    &:focus,
    &.active {
      & ~ ul.dropdown {
        display: block;
      }
    }
  }
}

ul.dropdown {
  top: 0px;
  display: none;
  position: absolute;
  min-width: 150px;
  margin-top: 0px;
  border: none;
  border-radius: 4px;
  list-style: none;
  padding: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--surface-container-low);

  &.active {
    display: block;
  }

  &.right-align {
    right: 0px;
  }

  &.left-align {
    left: 0px;
  }

  &:has(li:hover, a:hover, li:focus, a:focus, li:active, a:active) {
    display: block;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--on-surface);
    padding: 4px 8px;
    height: 38px;
    border-radius: 4px;

    &:hover {
      opacity: 0.8;
      background-color: var(--surface-container-highest);
    }
  }

  a {
    text-decoration: none;
  }

}
