div.textfield {
    height: 40px;
    background-color: var(--surface-container-highest);
    color: var(--on-surface-variant);
    position: relative;
    width: auto;
    padding: 8px 16px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid var(--on-surface-variant);
    vertical-align: middle;
    margin: 4px 4px 4px 0px;
}

div.textfield select,
div.textfield textarea,
div.textfield input {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: var(--on-surface);
    width: 100%;
}

div.textfield textarea {
    max-width: 90vw;
}

div.textfield.multiline {
    min-height: 40px;
    height: auto;
}

div.textfield textarea:focus-visible,
div.textfield input:focus-visible {
    border: none;
    outline: none;
}

div.textfield label {
    font-size: 12px;
}

div.textfield:focus-within {
    border-bottom: 2px solid var(--primary);
}

div.textfield:focus-within label {
    color: var(--primary);
}

div.textfield.outline {
    border-radius: 4px;
    border: 1px solid var(--outline);
    flex-direction: row;
    align-items: center;
}

div.textfield.outline label {
    position: absolute;
    top: -7px;
    padding: 0px 4px;
    background-color: inherit;
}

div.textfield.outline:focus-within {
    border: 2px solid var(--primary);
}

input[type=checkbox] {
    height: 18px;
    width: 18px;
}

input[type=checkbox]::after {
    background-color: var(--primary);
}

div.textfield input {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: var(--on-surface);
}
