.magic-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-center {
    align-content: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.is-bold {
  font-weight: bold;
}
