div.hero {
    background-color: var(--surface-container-highest);
    border-radius: 24px;
    padding: 32px;
    display: inline-block;
    width: calc(100% - 64px - 8px);
    margin: 16px 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
    color: var(--on-surface);
}

div.hero h1 {
    font-size: 40px;
    line-height: 1;
}

div.hero h1,
div.hero h2,
div.hero p {
    margin: 8px 0px;
}

@media screen and (min-width: 600px) {
    div.hero {
        font-size: 22px;
        padding: 56px;
        width: calc(100% - 112px - 8px);
    }

    div.hero h1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 1200px) {
    div.hero {
        font-size: 22px;
        padding: 56px;
        width: calc(100% - 112px - 8px);
    }

    div.hero h1 {
        font-size: 100px;
    }
}
