/* Global variables */
:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        0px 0.9px 1px hsl(var(--shadow-color) / 0.11),
        0px 1.5px 1.7px -1.3px hsl(var(--shadow-color) / 0.11),
        0px 3.5px 3.9px -2.6px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
        0px 0.9px 1px hsl(var(--shadow-color) / 0.11),
        0px 2.8px 3.1px -0.9px hsl(var(--shadow-color) / 0.11),
        0px 7.2px 8px -1.7px hsl(var(--shadow-color) / 0.11),
        0.1px 17.7px 19.6px -2.6px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high:
        0px 0.9px 1px hsl(var(--shadow-color) / 0.11),
        0px 5px 5.6px -0.4px hsl(var(--shadow-color) / 0.1),
        0px 9.4px 10.4px -0.7px hsl(var(--shadow-color) / 0.1),
        0.1px 15.6px 17.3px -1.1px hsl(var(--shadow-color) / 0.1),
        0.1px 25.1px 27.9px -1.5px hsl(var(--shadow-color) / 0.1),
        0.2px 39.4px 43.7px -1.9px hsl(var(--shadow-color) / 0.1),
        0.2px 60.2px 66.8px -2.2px hsl(var(--shadow-color) / 0.1),
        0.4px 88.9px 98.7px -2.6px hsl(var(--shadow-color) / 0.1);
    --md-sys-color-shadow-rgb: 0 0 0;
    --elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) / 0.2),
                0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14),
                0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
}

/* Global styles */
html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', serif;
    background-color: var(--surface-container-lowest);
    color: var(--on-surface);
}

body > * {
  display: block;
  font-family: 'Roboto', serif;
  font-size: 1rem;
  word-break: break-word;
}

body > script {
    display: none;
}

main {
    padding: 0px 10px 80px 10px;
    display: relative;
}

hr {
    border-top: 1px solid #cac4d0;
    margin: 12px 8px;
}

button,
span.chip {
    cursor: pointer;
}

/* Typology */

p {
    font-size: 1rem;
}

h1 {
    font-size: 2.15rem;
    font-weight: 400;
    line-height: 40px;
}

h2 {
    font-size: 1.85rem;
    font-weight: 400;
    line-height: 36px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
}

/* Header navigration styles */
header {
    background-color: var(--surface-container-lowest);
    color: var(--on-surface);
    height: 64px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header:has(+ main div.tabs),
header.sticky {
    background-color: var(--surface);
    position: sticky;
    top: 0px;
    box-shadow: var(--shadow-elevation-medium);
    z-index: 11;

    &:has(+ main div.tabs) {
        box-shadow: none;
    }
}

head * {
    display: inline-block;
}

header p {
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    font-weight: 200;
}

header p:first-child {
    margin-left: 16px;
}

header .left-control {
    margin: 0px 8px;
}

header div.right-controls {
    margin-left: auto;
    display: flex;
}

header button:hover {
    box-shadow: none;
}

/* Chips styles */

/* div.chips * { */
/*     display: inline-block; */
/* } */

span.chip {
    display: inline-flex;
    align-items: center;
    color: var(--on-surface-variant);
    background-color: inherit;
    min-height: 32px;
    padding: 0px 12px;
    border-radius: 8px;
    box-shadow: var(--elevation-1);
}

span.chip.outline {
    border: 1px solid var(--outline);
    box-shadow: none;
}

div.chips span.chip {
    margin: 2px;
}

/* Display sets */

/* Items hidden on mobile */

body > nav.rail {
    display: none;
}

body > menu {
    display: none;
}

/* Misc items */

code {
    border: 1px solid var(--outline);
    border-radius: 8px;
    background-color: var(--tertiary);
    color: var(--on-tertiary);
    padding: 0px 6px;
}

blockquote {
    border-radius: 8px;
    background-color: var(--surface-container-low);
    color: var(--on-surface-variant);
    padding: 12px 16px;
    border-left: 8px solid var(--surface-container-highest);
    margin-right: 16px;
}

pre {
    border-radius: 8px;
    background-color: var(--surface-container-low);
    color: var(--on-secondary-container);
    padding: 12px 16px;
    border: 1px solid var(--outline);
    max-width: 100%;
    overflow-x: auto;
 \\   font-size: 1.1rem;
}

pre code {
    color: inherit;
    border: none;
    border-radius: none;
    background-color: transparent;
    padding: 0px;
}

/* Medium display */
@media screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-areas:
            "nav header header"
            "nav main main"
            "nav main main";
        grid-template-columns: min-content minmax(auto, 1fr) minmax(auto, 1fr);
        grid-template-rows: min-content auto auto;
    }

    body > header {
        grid-area: header;
    }

    body > main {
        grid-area: main;
    }

    body > nav.rail {
        grid-area: nav;
        display: block;
    }

    .is-tablet {
        display: inline-block !important;
    }

    .hide-on-mobile {
        display: inline-block !important;
    }

    nav.rail {
        position: sticky;
        top: 0px;
        width: 80px;
        max-height: calc(100vh - 50px);
        padding-top: 50px;
    }

    nav.rail ul {
        flex-flow: column;
        justify-content: flex-start;
        height: auto;
    }

    nav.rail ul li {
        margin: 6px 0px;
        font-size: 12px;
    }

    nav {
        display: none;
    }

    header .left-control.is-menu {
        display: none;
    }
}

/* Large display */
@media screen and (min-width: 1200px) {
    body {
        display: grid;
        grid-template-areas:
            "nav menu header header"
            "nav menu main main"
            "nav menu main main";
        grid-template-columns: min-content min-content minmax(auto, 1fr) minmax(auto, 1fr);
        grid-template-rows: min-content auto auto;
    }

    nav.rail {
        margin-right: 0px;
    }

    body > main:has(~ menu) {
        padding: 0px;
    }

    body > main {
        padding: 0 15%;
    }

    body > menu {
        display: block;
        grid-area: menu;
    }

    .is-desktop {
        display: inline-block !important;
    }

    menu {
        width: 280px;
        max-height: calc(100vh - 12px);
        position: sticky;
        top: 0px;
        background-color: var(--surface-container-low) !important;
        color: var(--on-surface-variant) !important;
        margin: 0px 12px 0px 0px;
        padding: 10px 16px 0px 16px;
        border-radius: 0px 16px 16px 0px;
        font-size: 14px;
        font-weight: 500;
    }

    menu > a {
        color: var(--on-surface-variant) !important;
    }

    menu > label {
        margin: 20px 0px 10px 16px;
    }

    menu > hr {
        margin: 10px 8px;
    }

    menu li {
        height: 56px;
        display: flex;
        align-items: center;
        padding: 0px 16px;
        border-radius: 100px;
    }

    menu li.active {
        background-color: var(--secondary-container);
        color: var(--on-secondary-container);
    }

    menu li:hover {
        background-color: color-mix(in srgb, var(--on-secondary-container) 20%, transparent);;
    }

    menu li i {
        margin-right: 12px;
    }

    menu hr {

    }
}
