div.list {
    padding: 10px 0px;

    a {
      text-decoration: none;
    }

    div.item-list {
        display: grid;
        grid-template-areas:
            "img content action";
        grid-template-columns: min-content auto min-content;
        grid-template-rows: 1fr;

        margin: 0;
        padding: 8px 16px;

        background-color: var(--surface);

        &:hover {
            opacity: 0.90;

            p,span,div.action {
                color: var(--on-surface);
            }
        }

        img {
            grid-area: img;
            max-height: 64px;
            margin: 0;
            padding: 0;
            padding-right: 16px;
        }

        div.content {
            grid-area: content;
            color: var(--on-surface-variant);
            font-size: 16px;
            font-weight: 450;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: column;
            justify-content: center;

            p {
                margin: 0;
                padding: 0;
                line-height: 24px;
            }

            span {
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
            }
        }

        div.action {
            grid-area: action;
            color: var(--on-surface-variant);
            align-content: center;
            margin: 0;
            padding: 0;
            padding-left: 16px;
        }
    }
}
