/* Global helpers */

.is-desktop {
  display: none !important;
}

.is-tablet {
  display: none !important;
}

.hide-on-mobile {
  display: none !important;
}

.centered {
  text-align: center;
}

.is-black {
  color: black;
}

.primary {
  color: var(--on-primary-container) !important;
  background-color: var(--primary-container) !important;

  & *:not(div, ul, button, a) {
    color: inherit !important;
  }

  &:is(button).outline {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    background-color: transparent !important;
  }

  &:is(button).text {
    color: var(--primary) !important;
    background-color: inherit !important;
    &:hover {
      background-color: color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
  }
}

.secondary {
  color: var(--on-secondary-container) !important;
  background-color: var(--secondary-container) !important;

  & *:not(div, ul, button, a) {
    color: inherit !important;
  }

  &:is(button).outline {
    color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    background-color: transparent !important;
  }

  &:is(button).text {
    color: var(--secondary) !important;
    background-color: inherit !important;
    &:hover {
      background-color: color-mix(in srgb, var(--secondary) 20%, transparent) !important;
    }
  }
}

.tertiary {
  color: var(--on-tertiary-container) !important;
  background-color: var(--tertiary-container) !important;

  & *:not(div, ul, button, a) {
    color: inherit !important;
  }


  &:is(button).outline {
    color: var(--tertiary) !important;
    border-color: var(--tertiary) !important;
    background-color: transparent !important;
  }

  &:is(button).text {
    color: var(--tertiary) !important;
    background-color: inherit !important;
    &:hover {
      background-color: color-mix(in srgb, var(--tertiary) 20%, transparent) !important;
    }
  }
}

.is-primary {
  color: var(--primary) !important;
}

.is-secondary {
  color: var(--secondary) !important;
}

.is-tertiary {
  color: var(--tertiary) !important;
}

.is-clickable {
  cursor: pointer;
}
