
/* Bottom navigation styles */
nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    background-color: var(--surface);
    color: var(--on-surface-variant);
    z-index: 10;

    ul {
        margin: 0px;
        height: calc(80px - 16px - 12px);
        width: 100%;
        padding: 12px 0px 16px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
            text-decoration: none;
            background-color: var(--surface);
            color: var(--on-surface-variant);
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 48px;
            cursor: pointer;

            i {
                height: 32px;
                width: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 16px;
                margin-bottom: 4px;
            }

            i:hover {
                background-color: color-mix(in srgb, var(--on-secondary-container) 20%, transparent);;
            }

            label {
                font-weight: 500;
            }
        }

        a[aria-current='page'] {
            li i {
                background-color: var(--secondary-container);
            }

            li label {
                color: var(--on-surface);
                font-weight: 700;
            }
        }

    }
}
