div.search {
    display: grid;
    grid-template-areas: "icon input option";
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr;

    height: 56px;
    min-width: 250px;
    max-width: 720px;
    background-color: var(--surface-container-highest);
    color: var(--on-surface);

    border-radius: 30px;
    padding: 0px 16px;

    div.icon {
        grid-area: icon;
        align-content: center;
        padding-right: 16px;
        cursor: pointer;
    }

    input {
        grid-area: input;
        align-content: center;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--on-surface-variant);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &:focus-visible,
        &:focus {
            border: none;
            outline: none;
        }
    }

    input:not(:placeholder-shown) + div.option {
        visibility: visible;
    }

    div.option {
        grid-area: option;
        align-content: center;
        padding-left: 16px;
        visibility: hidden;
        cursor: pointer;
    }
}
