div.tabs {
    display: flex;
    flex-direction: row;
    margin: 0px -10px;
    padding: 0px;
    background-color: var(--surface);
    height: 48px;
    margin-bottom: 10px;
    position: sticky;
    top: 64px;
    z-index: 10;

    &:has(span) {
        height: 64px;
    }

    a {
      text-decoration: none;
      background-color: var(--surface);
      color: var(--on-surface-variant);
      flex: 1;
      display: flex;
    }

    a[aria-current='page'] {
      div.tab span,
      div.tab p {
        color: var(--primary);
      }
      div.tab {
        border-bottom: 2px solid var(--primary);
      }
    }

    div.tab {
        margin: 0px;
        padding: 0px;
        flex: 1;
        border-bottom: 1px solid var(--outline-variant);

        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            color: var(--on-surface-variant);
        }

        p {
            color: var(--on-surface-variant);
            margin: 0;
            padding: 0;
        }

        &.active {
            span, p {
                color: var(--primary);
            }
            border-bottom: 2px solid var(--primary);
        }

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
        }

        &:hover:not(.active)::before {
            background-color: var(--primary);
            opacity: 0.08;
        }
    }
}
