@media (prefers-color-scheme: dark) {
    :root {
        --primary: #d0bcfe;
        --on-primary: #381e72;
        --primary-container: #4f378b;
        --on-primary-container: #eaddff;
        --secondary: #ccc2dc;
        --on-secondary: #332d41;
        --secondary-container: #4a4458;
        --on-secondary-container: #e8def8;
        --tertiary: #efb8c8;
        --on-tertiary: #492532;
        --tertiary-container: #633b48;
        --on-tertiary-container: #ffd8e4;
        --error: #f2b8b5;
        --on-error: #492532;
        --surface: #141218;
        --on-surface: #e6e0e9;
        --on-surface-variant: #cac4d0;
        --outline: #938f99;
        --outline-variant: #49454f;
        --surface-container-lowest: #0f0d13;
        --surface-container-low: #1d1b20;
        --surface-container-highest: #36343b;
    }
}
