@media (prefers-color-scheme: light) {
    :root {
        --primary: #6750a4;
        --on-primary: #ffffff;
        --primary-container: #eaddff;
        --on-primary-container: #21005d;
        --secondary: #625b71;
        --on-secondary: #ffffff;
        --secondary-container: #e8def8;
        --on-secondary-container: #1d192b;
        --tertiary: #7d5260;
        --on-tertiary: #ffffff;
        --tertiary-container: #ffd8e4;
        --on-tertiary-container: #31111d;
        --error: #b3261e;
        --on-error: #ffffff;
        --surface: #fef7ff;
        --on-surface: #1d1b20;
        --on-surface-variant: #49454f;
        --outline: #79747e;
        --outline-variant: #cac4d0;
        --surface-container-lowest: #ffffff;
        --surface-container-low: #f7f2fa;
        --surface-container-highest: #e6e0e9;
    }
}
